body{
  padding-top: 60px;
}

.search-rounded{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.glyph-rounded{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer-anchor{
  padding-right: 42px;
}

.text-grey{
  color: grey;
}
